<div class="container1">
  <div class="col-md-16">
    <div class="panel panel-primary">
       <div class="panel panel-heading">
         <span class="glyphicon glyphicon-user"></span> New Customers
</div>



<%= render 'form' %>

<%= link_to 'Back', customers_path,:class=>"btn btn-danger" %>
